.float-btn{
    width: 50px;
    height: 50px;
    z-index: 500;
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    backdrop-filter: blur(4px);
    background-color: rgba(35, 193, 35, .7);
    mat-icon{
        color: white;
    }
}