<div class="dashboard-layout">
    <div class="widgets-wrapper">
        <div class="widget first">
            <div class="welcome">
                <h2>Bon retour</h2>
                <span>{{username}}</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, amet? Suscipit temporibus asperiores fuga tenetur nobis.</p>
                <span></span>
            </div>
            <div class="illus">

            </div>
        </div>
        <div class="widget flex second">
            <span class="widget-icon"><img src="../../../assets/images/ic_blog.svg" height="28" alt=""></span>
            <span class="total">{{totalPosts}}</span>
            <span>Total Publications</span>
        </div>
        <div class="widget flex flat third">
            <span class="widget-icon"><img src="../../../assets/images/ic_user.svg" height="28" alt=""></span>
            <span class="total">{{totalAdmins}}</span>
            <span>Total Admins</span>
        </div>
        <div class="widget flex flat fourth">
            <span class="widget-icon"><img src="../../../assets/images/ic_users.svg" height="28" alt=""></span>
            <span class="total">{{totalHhd}}</span>
            <span>Total Ménages</span>
        </div>
        <div class="widget flex flat fifth">
            <span class="widget-icon"><img src="../../../assets/images/ic_banking.svg" height="28" alt=""></span>
            <span class="total">{{totalComp}}</span>
            <span>Total Compagnies</span>
        </div>
        <div class="widget flex flat sixth">
            <span class="widget-icon"><img src="../../../assets/images/ic_user.svg" height="28" alt=""></span>
            <span class="total">{{totalColls}}</span>
            <span>Total Collecteurs</span>
        </div>
        <div class="widget flat seventh">Organisations</div>
    </div>
</div>
