<div class="banner">
    <div class="banner-pane">
        <h1 class="name">Fast Recycling Network</h1>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Libero exercitationem dolorum voluptatem sequi delectus ea laboriosam accusamus sit blanditiis porro magnam, numquam est, nobis dignissimos similique consequatur facilis.
        </p>
        <a routerLink="/signup"><mat-icon>fingerprint</mat-icon>&ensp;Commencer</a>
    </div>
    <div class="banner-logo">
        <img src="../../../../assets/images/logo_frn.svg" height="470" alt="">
    </div>
</div>